In [1]:
list=[ ]
name="JANHWEE"
for i in range(len(name)):
    list.append(name[i])
print(list)

['J', 'A', 'N', 'H', 'W', 'E', 'E']

In [2]:
l=[1,2,3]
l.append(4)
print(l)

[1, 2, 3, 4]

In [3]:
a=[1,2,4,5,3,6]
a.sort()
print(a)

[1, 2, 3, 4, 5, 6]

In [4]:
a=[1,2,3,4,5,6]
a.sort(reverse=True)
print(a)

[6, 5, 4, 3, 2, 1]

In [5]:
def greet(name):
    print("hello,"+ name + "!")
greet("JANHWEE")

hello,JANHWEE!

In [6]:
def add(a,b):
    return a+b
add(2,3)

5

In [7]:
def exponent(a,b=2):
    c=a**b
    return c
exponent(2,3)

8

In [8]:
def person(name,age):
    return name,age
person("janhwee",18)

('janhwee', 18)

In [9]:
a=5
print(type(a))

<class 'int'>

In [10]:
c=15
def update ():
    global c 
    c=10 
update()
c

10

In [11]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
n=3
factorial(n)

6

In [12]:
square=lambda x,y: x**y
print(square(3,4))

81

In [14]:
def length(name):
    return len(name)
name="janhwee"
length(name)

7

In [22]:
import time
def timetaken(func):
    def wrapper():
     st=time.time()
     func()
     end=time.time()
     print("Time:",end-st)
    return wrapper
@timetaken
def func():
    print("hello ")
func()

hello
Time: 0.0